html {
    transition: all .3s;
    overflow-x: hidden;
    line-height: 23px;
}
* {
    font-family: 'Bungee',
    cursive;
}
.fontDisplay {
    font-family: 'Bungee',
        cursive;
}
.fontOpen {
    font-family: 'Open Sans',
    sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.flex {
    display: flex;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.full {
    width: 100vw !important;
    height: 100vh !important;
}

.fill {
    width: 100%;
    height: 100%;
}

.fdc {
    flex-direction: column;
}

.jcsb {
    justify-content: space-between;
}
.input {
    border: none;
    border-radius: 30px;
    background-color: #EAEAEA;
    text-align: center;
    padding: 10px;
    border: 3px solid transparent;
    transition: all .2s;
    outline: none;
    margin-bottom: 20px;
}
.input:focus {
    border-color: #000;
}
.textarea {
    border: none;
    border-radius: 30px;
    background-color: #EAEAEA;
    text-align: center;
    padding: 10px;
    border: 3px solid transparent;
    transition: all .2s;
    outline: none;
    margin-bottom: 20px;
    resize: none;
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* caret-color: transparent; */
}
.textarea:focus {
    border-color: #000;
}
.button {
    color: white;
    width: 180px;
    padding: 5px 0px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all .15s;
    cursor: pointer;
    height: 50px;
}
.button:hover {
    transform: scale(.95);
}
.button:active {
    transform: scale(.9);
}
.margin0 {
    margin: 0 !important;
}
.avatar {
    /* height: 110px;
    width: 110px; */
    object-fit: cover;
    border-radius: 50%;
    padding: 2.5px;
}
/* .avatarContainer:active {
    transform: scale(.9);
} */
.clickEffect {
    transition: all .3s;
}
.clickEffect:active {
    transform: scale(.9);
}
/* .avatarContainer {
    transition: all .3s;
} */
.aifs {
    align-items: flex-start;
}
.jcsb {
    justify-content: space-between;
}
.playGuide {
    background-color: #EAEAEA;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    border: 4px solid black;
}
.playGuide ul {
    margin: 0;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.playGuide ul li {
    font-family: 'Open Sans',
    sans-serif !important;
    font-weight: bold;
}
.op0 {
    opacity: 0;
}
#createTimeAprox {
    position: relative;
    opacity: .5;
    font-size: 12px;
    bottom: 12px;
    left: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.promptContainer {
    background-image: url("./img/other/notepad.jpeg");
    /* padding: 0px 30px; */
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    background-position: center;
    border-radius: 10px;
}
.emptyPrompt {
    width: 500px;
    height: 400px;
    /* background-color: transparent; */
}
.playerGridDisabled {
    opacity: .5;
    cursor: default !important;
}
.spinner {
    height: 50px;
    background-color: white;
    padding: 1px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}
.bgBlue {
    background-color: #00B2FF;
}
.modalContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1000;
}
.modal {
    background-color: #00B2FF;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    border: 4px solid #018eca;
    color: white;
}